* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

body {
    font-family: 'Pretendard';
}

.nhn {
    width: 1584px;
    display: flex;
    margin: 20px auto;
    gap: 24px;
}



.background_color_666 {
    background-color: #666;

}

.background_color_b0b4b9 {
    background-color: #b0b4b9;

}

.background_color_f3f3f3 {
    background-color: #f3f3f3;

}



.box {
    padding: 36px 40px 60px;
    width: 33.33%;
    border-radius: 48px;

}

.box-title>h4 {
    font-size: 24px;



    margin-bottom: 16px;
}

.box-title>ul {
    color: #fff;
    font-size: 18px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
}

.black-font {
    color: #222
}

.white-font {
    color: #fff
}
@media (max-width: 1200px) {
    .nhn {
        width: 100%;
    }

}
@media (max-width: 1024px) {


    .column {
        flex-direction: column;
       
    }
    .box{
        padding: 28px 40px 48px 32px;
        
        border-radius: 36px;
        width: 70%;
    }
    .nhn{
        padding-left: 10%;
        padding-right: 10%;
    }






    
/* 1025 */
}